* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}


center {
    margin: 40px 0px;
    h1 {
        margin-bottom: 20px;
    }
    button {
        all: unset;
        padding: 10px 20px;
        border: 1px solid black;
        border-radius: 14px;
        cursor: pointer;
        transition: .5s ease;
        &:hover {
            background-color: black;
            color: white;
        }
    }
}

.container {
    width: 80%;
    margin: 40px auto;
    max-width: 1920px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;

    .item {
        width: 100%;   
        max-width: 364px;
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        padding-top: 20px;

        .item-img {
            width: 100%;
            max-height: 200px;
            object-fit: contain;
            margin-bottom: 20px;
        }

        .describe-block {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 20px;
            background-color: black;
            color: white;
            span {
                font-weight: 600;
                font-size: 24px;
            }
            p {
                font-size: 14px;
                font-weight: 600;
                color: #fff;
                opacity: 56%;
                b {
                    color: white;
                    opacity: 100% !important;
                }
            }
            .row {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .rate {
                    display: flex;   
                    align-items: center;
                    gap: 5px;

                    span {
                        font-size: 24px;
                        font-weight: 500;
                    }
                }
            }
            button {
                all: unset;
                width: 100%;
                background-color: white;
                color: black;
                border-radius: 14px;
                text-wrap: nowrap;
                padding: 10px 0px;
                text-align: center;
                cursor: pointer;
            }
        }


    }
}


.block {
    padding: 30px;
    background-color: black;
    color: white;
    right: 0; 
    top: 0; 
    width: 550px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: absolute; 
}

#chorniyallayor {
    z-index: 4;
    color: white;
    position: absolute;
background-color: black;
    top: 18px;
    left: 1480px;
    border: 0;
    width: 30px;
    height: 30px;

}

.box {
    margin-top: 100px;
    display: none;
    animation: 1s XX;
    transition: opacity 0.5s ease-out;

}

.glav {
    border-radius: 10px;
    border: 2px solid gray;
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: 100px;
    background-color: white;
}

.buttons {
    height: 40px;
}

.image img {
    margin-top: 25px;
    width: 60px;
    height: 40px;
}
.text {
    margin-top: 25px;
}

.buttons button {
    font-size: 20px;
    margin-top: 25px;
    background-color: white;
    color: black;
    border: none;

}

h3 {
    color: black;
}

h5 {
    color: gray;
}
h4 {
    color: black;
}
